EVENTS:
  scene: "/home/alessandro/datasets/dvxplorer/day1_events/"
  # scene: "/home/alessandro/datasets/dvxplorer/night1_events/"
  side: "left"   #left 
  H: 480
  W: 640
  rectify: false
  use_valid_frame_range: false 



#CORNER DETECTOR PARAMETERS
FAST:
  threshold: 50
  nonmaxSuppression: false
  gradientScoring:
    enable: true
    desiredFeatures: 200

ACCUMULATOR:
  neutralPotential: 0.5
  eventContribution: 0.35
  decay: 1.0
  ignorePolarity: false

SLICING:
  type: "fixed"    # "fixed" | "adaptive"
  dt_ms: 33        # used only if type == "fixed"


CAMERA:
  #camera intrinsic parameters
  fx : 676.33153642211096
  fy : 677.78307833910333
  cx : 302.40954664576429
  cy : 250.16845570548003
  pixelSize: 0.000009 #9 uMeters
  gyroFreq: 800.0   #in Hz

  

LK:
  winSize:
    width: 40  # Width of the window for Lucas-Kanade optical flow  (default: 21)
    height: 40  # Height of the window for Lucas-Kanade optical flow  (default: 21)

  maxLevel: 4  # Maximum pyramid level for Lucas-Kanade optical flow (default: 3)

  criteria:
    maxCount: 30  # Maximum number of iterations for Lucas-Kanade optical flow (default: 30)
    epsilon: 0.01  # Threshold for termination criteria of Lucas-Kanade optical flow (default: 0.01)

  flags: 0  # Flags for Lucas-Kanade optical flow 
  minEigThreshold: 0.001  # Threshold for minimum eigenvalue of Lucas-Kanade optical flow 


REJECTION_FILTER:
  magnitudeThresholdPixel: 10
  boundThreshold: 1.50          #threshold for rejecting the vectors magnitude. it must be > 1.0

#ADAPTIVE SLICING : 
adaptiveSlicing:
  enable: true
  P: 0.3
  I: 0.05
  D: 0.000
  maxTimingWindow: 50  #ms : min FPS = 20
  minTimingWindow: 10   #ms : max FPS = 100
  adaptiveTimingWindowStep: 1   #ms
  thresholdPIDEvents: 10
  OFPixelSetpoint: 5  #

#visualize image
visualizeImage: true
delayVisualize: 0