#MVSEC CONFIG FILE
#MVSEC scene path
EVENTS:
  scene: "/home/alessandro/datasets/mvsec/indoor_flying/indoor_flying3_data/"
  side: "left"   #left 
  H: 260
  W: 346



#CORNER DETECTOR PARAMETERS
FAST:
  threshold: 70
  nonmaxSuppression: false
  gradientScoring:
    enable: true
    desiredFeatures: 100

ACCUMULATOR:
  neutralPotential: 0.5
  eventContribution: 0.35
  decay: 1.0
  ignorePolarity: true

SLICING:
  type: "fixed"    # "mvsec" | "fixed" | "adaptive"
  dt_ms: 10        # used only if type == "fixed"


CAMERA:
  efps: 100
  sensitivity: 1
  width: 346
  height: 260

  #camera intrinsic parameters
  fx : 196.73614846589038 
  fy : 196.5361311749205
  cx : 173.9835140415677
  cy : 134.63020721240977
  pixelSize: 0.0000185 #18.5 Î¼m from specifications (DAVIS346)
  gyroFreq: 800.0   #in Hz

  #CAMERA INCLINATION
  inclination: 45.0  #in degrees, from 0 to +90. Positive direction = downward
  


LK:
  winSize:
    width: 40  # Width of the window for Lucas-Kanade optical flow  (default: 21)
    height: 40  # Height of the window for Lucas-Kanade optical flow  (default: 21)

  maxLevel: 4  # Maximum pyramid level for Lucas-Kanade optical flow (default: 3)

  criteria:
    maxCount: 30  # Maximum number of iterations for Lucas-Kanade optical flow (default: 30)
    epsilon: 0.01  # Threshold for termination criteria of Lucas-Kanade optical flow (default: 0.01)

  flags: 0  # Flags for Lucas-Kanade optical flow 
  minEigThreshold: 0.001  # Threshold for minimum eigenvalue of Lucas-Kanade optical flow 


REJECTION_FILTER:
  magnitudeThresholdPixel: 60   #magnitude threshold for the vectors. it is in PIXEL displacement
  boundThreshold: 1.50          #threshold for rejecting the vectors magnitude. it must be > 1.0


#LOW PASS FILTER
SMOOTHINGFILTER:
  enable: true
  type: 0   # 0 : COMPLEMENTARY FILTER, 1 : LOW PASS FILTER
  lpfK: 0.7  #coefficient for the low pass filter. 0.5 is the default value
  complementaryK: 2.3 #coefficient for the complementary filter.

#altitude parameters
ALTITUDE:
  type: 0   # 0:average, 1:median
  saturationValue: 45   #in meters, if values over this are computed, than saturate to this

#safety parameters
lidarMax : 0.0    #in meters. if lidar the lidar detects less than this, publish this value rather than the vision based altitude

publishAltitudeFrequency: 50  #in Hz. IT MUST BE BETWEEN 30 and 50 Hz

velocitySource : 0 # 0: airspped, 1: groundspeed

FASTLKParallel : true


#ADAPTIVE SLICING : 
adaptiveSlicing:
  enable: true
  P: 0.5
  I: 0.05
  D: 0.000
  maxTimingWindow: 25  #ms : min FPS = 40
  minTimingWindow: 15   #ms : max FPS = 75
  adaptiveTimingWindowStep: 1   #ms
  thresholdPIDEvents: 10
  OFPixelSetpoint: 7  #

#visualize image
visualizeImages: true
delayVisualize: 0